.parent-drill{
    border: 2px solid gray;
    padding: 1rem;
}

.child1 {
  border: 2px solid salmon;
  margin-bottom: 1rem;
  padding-left: 1rem;
}
.child2 {
  border: 2px solid sandybrown;
  width: 95%;
  margin-bottom: 1rem;
  padding-left: 1rem;
}
.child3 {
  border: 2px solid saddlebrown;
  width: 93%;
  margin-bottom: 1rem;
  padding-left: 1rem;
}
.child4 {
  border: 2px solid skyblue;
  width: 91%;
  margin-bottom: 1rem;
  padding-left: 1rem;
}
.child5 {
  border: 2px solid seagreen;
  width: 85%;
  margin-bottom: 1rem;
  padding-left: 1rem;
}
